mixin ratingFn(rating)
    -for (var i=0;i<rating;i++)
    span.glyphicon.glyphicon-star
    -for (var i=rating;i<5;i++)
    span.glyphicon.glyphicon-star-empty

mixin resultFn(result)
    h3 Tarun Baloch is here!!
        //
        //.row
        //    .col-md-2.hidden-sm.hidden-xs
        //
        //        div
        //            h4 Facets
        //            hr
        //
        //        if response.hits.total > 0
        //
        //            dl
        //                dt Countries
        //                    if (typeof(response.aggregations.country) !== 'undefined')
        //                        each country in response.aggregations.country.buckets
        //                            dd
        //                                a(href='/search?q=' + query + '&agg_value=' + country.key + '&agg_field=country.raw' )
        //                                =country.key + " (" + country.doc_count + ")"
        //            dl
        //                dt Cities
        //                if (typeof(response.aggregations.city) !== 'undefined')
        //                each city in response.aggregations.city.buckets
        //                    dd
        //                        a(href='/search?q=' + query + '&agg_value=' + city.key + '&agg_field=city.raw' )
        //                            =city.key + " (" + city.doc_count + ")"
        //            dl
        //                dt Languages
        //                each language in response.aggregations.language.buckets
        //                    dd
        //                        a(href='/search?q=' + query + '&agg_value=' + language.key + '&agg_field=language.raw' )
        //                            =language.key + " (" + language.doc_count + ")"
        //
        //            dl
        //                dt Job Titles
        //                each job_title in response.aggregations.job_title.buckets
        //                    dd
        //                        a(href='/search?q=' + query + '&agg_value=' + job_title.key + '&agg_field=job_title.raw' )
        //                            =job_title.key + " (" + job_title.doc_count + ")"
        //
        //            dl
        //                dt Genders
        //                each gender in response.aggregations.gender.buckets
        //                    dd
        //                        a(href='/search?q=' + query + '&agg_value=' + gender.key + '&agg_field=gender' )
        //                            =gender.key + " (" + gender.doc_count + ")"
        //
        //    .col-md-10.col-sm-12
        //        h4 #{response.hits.total} Results - Took #{response.took}  miliseconds
        //        hr
        //
        //        if response.hits.total > 0
        //            table.table.table-bordered
        //                thead
        //                    tr
        //                        th First Name
        //                        th Last Name
        //                        th Country
        //                        th.hidden-sm.hidden-xs City
        //                        th.hidden-sm.hidden-xs Language
        //                        th.hidden-sm.hidden-xs Job Title
        //                        th.hidden-sm.hidden-xs Gender
        //                tbody
        //                    each employee in response.hits.hits
        //                        tr
        //                            td= employee._source.first_name
        //                            td= employee._source.last_name
        //                            td= employee._source.country
        //                            td.hidden-sm.hidden-xs= employee._source.city
        //                            td.hidden-sm.hidden-xs= employee._source.language
        //                            td.hidden-sm.hidden-xs= employee._source.job_title
        //                            td.hidden-sm.hidden-xs= employee._source.gender
        //        else if response.suggest.simple_phrase[0].options[0]
        //            p
        //                | Did you mean&nbsp;
        //                a(href="/search?q=" + response.suggest.simple_phrase[0].options[0].text) !{response.suggest.simple_phrase[0].options[0].highlighted}
        //                | ?
        //        else
        //            p No resulsts found for keyword #[b #{query}]